<section class="starshipsBox">
    <a href="https://fontmeme.com/es/fuente-de-star-wars/"><img class="slogan" src="https://fontmeme.com/permalink/210106/f1f07113ca5efa2400bab3f0cd1ef5d4.png" alt="fuente-de-star-wars" border="0"></a>
    <!-- <h1 class="title">Listado de naves</h1> -->
    <div class="pagination">
        <select name="page" #page>
        <option *ngFor="let o of options" name="page"  >
           {{o.name}}
        </option>
     </select>
        <button (click)="print(page.value)">Elegir página</button>
    </div>
    <app-loading *ngIf="loading"></app-loading>
    <div class="list">
        <li *ngFor="let starship of starships  | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{starship.name}}</h5>
                    <p class="card-text">Class: {{starship.starship_class}}.</p>
                    <p>
                        Passengers: {{starship.passengers}}
                    </p>
                    <p>
                        Max. Atmosphering Speed: {{starship.max_atmosphering_speed}}
                    </p>
                    <a href="{{starship.url}}" class="btn btn-primary">More information</a>
                </div>
            </div>
        </li>
    </div>
</section>