* {
    list-style-type: none;
}

.slogan {
    margin-top: 50px;
    width: 100%;
    border: 5px solid #FFDE06;
}

.title {
    color: white;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 50px 50px 50px 150px;
}

.card-title {
    text-transform: uppercase;
}

.pagination {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.starshipsBox {
    background-image: url('../../../assets/space.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageOption {
    width: 15%;
}